*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(253,186,0);
  color: rgb(160,46,14);
}
#nav {
  z-index: 20;
}

#nav li {
  list-style-type: none;
}
a {
  color: inherit;
}
#main {
  border-top: 5px solid rgb(160,46,14);
  border-bottom: 5px solid rgb(160,46,14);
}
#elpaso {
  width: 1.5em;
}
.float-right {
  float:right;
  display: inline-block;
  font-size: 1.1em;
  padding: 0% 3% 1% 1%;
}
.float-right:hover{
  color: #FFF;
  font-weight: bolder;
}
.emergency {
  padding-top: 1%;
  font-weight: bold;
  font-size: 3.2em;;
}
.slogan {
  font-family: cursive;
  font-size: 1.2em;
}
#top {
  width: 100%;
  margin: 0;
  position: relative;
}

#top img {
  width: 100%;
  opacity: 0.7;
}

.quote {
  position: absolute;
  bottom: 2%;
  left: 1%;
  font-size: 1.3em;
  box-shadow: 5px 5px 15px rgba(255,255,255, 0.6);
  border: 5px inset black;
  border-radius: 15px;
  padding: 0.5%;
  background-color:rgb(160,46,14);
  color: rgb(253,186,0);
}

.bolder {
  font-weight: bolder;
}

.container {
  width: 100%;
  height: auto;
}

.wrap {
  padding: 1%;
  margin: 2%;
  float: left;
  width:46%;
}


/*Start Styling for Nutrition Table*/
table {
  background-color: white;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: underline;
}
.nutriCaption {
  font-size: 16px;
  text-align: left;
  padding-bottom: 4px;
  background-color: white;
}
table {
  width: 348px;
  padding: 0px;
  border-spacing: 0px;
}
th {
  border-top: 10px solid black;
  padding-top: 12px;
  font-size: 15px;
  font-weight:500;
  padding-bottom: 6px;
}
td {
  padding-top: 8px;
  border-top: 1px solid black;
  padding-bottom: 6px;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.bold {
  font-weight: 600;
}
.small {
  font-size: 14px;
}
.daily {
  padding-top: 3px;
  border-top: 6px solid black;
}
.vitamin {
  border-top: 10px solid black;
}
.none {
  border-top: 0px;
  padding: 0px;
}
.below {
  border-bottom: 1px;
  padding: 0px;
}
/*End Styling for Nutrition Table*/

/*Start Styling for Gallery*/
.galleryContainer {
  margin-top: 0%;
  display: inline-block;
  width: 100%;
  border-top: 3px solid rgb(160,46,14);
}
.galleryContainer div {
  float: left;
  width: 20%;
  margin: 2%;
  padding: 0;
  position: relative
}
.galleryContainer img {
  height: 200px;
  width: 300px;
  box-shadow: 5px 5px 15px rgb(160,46,14);
}
.galleryContainer img:hover {
  opacity: 0.2;
}
.galleryContainer div:hover::after {
  position: absolute;
  content: "TACOS TACOS TACOS!!!!";
  top: 120%;
  left: 20%;
  font-size: 2.5em;
}
/*End Styling for Gallery*/

/*Start Styling for Contact*/
.contactContainer{
  width: 20%;
  padding: 1%;
  border: 8px inset rgb(160,46,14);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.contactContainer a:hover {
  color: #FFF;
}

.fancy {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
/*End Styling for Contact*/

/*Start Styling for Order-form*/
.orderContainer {
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
  border: 2px solid #000;
}

li {
  list-style-type: none;
}

.header {
  text-align: center;
  background-color: #FFF;
  padding: 0;
  margin-top: -20px;
}

.divider {
  margin: 3%;
}
