*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  margin: 0;
}
#nav {
}

#nav li {
  list-style-type: none;
}
a {
  color: inherit;
}
.float-right {
  float:right;
  display: inline-block;
  font-size: 1.2em;
  padding: 5% 3% 1% 1%;
}
.float-right:hover{
  text-decoration: underline;
  color: blue;
}

.number {
  padding-top: 17px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 40pt;
}
#top {
  width: 100%;
  margin: 0;
  /*border: 3px solid black;*/
}

#top img {
  width: 100%;
}
